html,
body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 600px;
    font-size: 14px;
    font-family: 'PingFang SC';
}

.main {
    display: none;
}

.section {
    background-image: url(assets/bg.jpg);
    background-size: 100% 100%;
}

.section.cover {
    background-image: url(assets/bg_cover.jpg);
}

.section.submit {
    background-image: url(assets/bg_submit.jpg);
}

.section.cover img {
    margin: 3% 10%;
    width: 80%;
}

.section.cover .title {
    position: absolute;
    top: 23%;
    left: 0;
}

.section.intro img {
    margin: 0 10%;
    width: 80%;
}

.section.intro p {
    margin: 5% 10%;
    width: 80%;
    color: #fff;
    line-height: 2em;
    text-indent: 2em;
    text-align: justify;
}

.section.guest img {
    margin: 0 3%;
    width: 94%;
}

.section.guest p {
    margin: 5px 12%;
}

.section.guest p.name {
    color: #f38729;
    font-size: 1.2em;
}

.section.guest p.desc {
    color: #fff;
    line-height: 1.5em;
}

.section.qr {
    text-align: center;
}

.section.qr img {
    width: 60%;
}

.section.qr p.title {
    color: #f38729;
    font-size: 1.5em;
}

.section.qr p.desc {
    color: #fff;
    font-size: 0.8em;
}

.section.submit .title {
    margin-left: 12%;
    width: 40%;
}

.section.submit ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.section.submit li {
    margin: 20px 0;
    padding: 0 5%;
    height: 2em;
}

.section.submit label {
    display: inline-block;
    color: #f38729;
}

.section.submit input {
    display: inline-block;
    padding: 2px 5px;
    width: 60%;
    background-color: transparent;
    border-bottom: 1px solid #f38729;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #fff;
    font-size: 1.2em;
    outline: 0;
}

.section.submit .btn-submit {
    text-align: center;
    width: 100%;
}

.section.submit .btn-submit img {
    width: 40%;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #e08e0e;
}

#fp-nav.right {
    right: 10px;
}

.turn {
    animation: turn 10s linear infinite;
}

@keyframes turn {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes turn {
    from {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
